// ===============
// colors palette
// ===============
:root {
  // Site colors (Цвета сайта):
  // =================================================================
  --medium-purple: #a65cf0; 
  --bg-secondary: #f6f6f6;
	--hover-mauve: #C998FB;
	--purple-heart: #7033AC;
	--blue-chalk: #EBD1FF;
	--crusta: #FF862F;
	--gusty-gray: #999999;
	--footer-color: #eaeaea;
	--color-text: #333; 
	--color-white: #fff;
	--color-cards: #f7f7f7;
}
