@font-face {
	font-family: open;
	font-display: swap;
	src: url("../fonts/open-sans-bold.woff2") format("woff2"), url("../fonts/open-sans-bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: open;
	font-display: swap;
	src: url("../fonts/open-sans-semibold.woff2") format("woff2"), url("../fonts/open-sans-semibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Open;
	font-display: swap;
	src: url("../fonts/Open-Sans.woff2") format("woff2"), url("../fonts/Open-Sans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PlayfairDisplay;
	font-display: swap;
	src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
